/* Neucha Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Open Sans Regular 400 + 700 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* variables for colors */
:root {
  --color-white: #fff;
  --color-white-half: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-half: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --color-text: #2a2626;
}

/* some default values */
h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

body {
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.6em;
}

/* end of default values */

.container {
  width: 1110px;
  margin: 100px 0;

  text-align: center;
}
